
@media (max-width: 768px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    max-width: 100%;
  }
  .container-bar {
    display: grid;
    grid-template-columns: 1fr;
  }
  .black {
    display: block;
  }
}
