* {
  font-size: 62.5%; /* reset para rems, 62.5% = 10px ya que 1rem es de 16px */
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
:root {
  --color: #007bff;
  --color2:#28a745 ;
  /* #007bff */
  /* #28a745 */
}
.flex {
  display: flex;
}
/* NAVEGACION */
.menu {
  width: 100%;
  align-self: center;
  text-align: end;
  margin: 0 0.5rem;
}
nav {
  color: var(--color);
  background-color: black;
  padding: 1rem;
  font-size: 3rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}
nav div:nth-child(1) {
  font-size: 3rem;
}
nav a {
  display: none;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
}
/* MEDIAS - QUERYS */
@media (min-width: 768px) {
  .menu {
    display: none;
  }
  nav a {
    display: inline-block;
    font-size: 1.5rem;
  }
  nav h2 {
    font-size: 3rem;
    font-weight: 100;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
.grid {
  font-size: 5rem;
  margin-top: 8rem;
}
.home {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
.bt-1,
.bt-2,
.bt-3 {
  padding: 2rem;
  font-size: 3rem;
}
.bt-1 {
  background-color: #007bff;
}
.bt-2 {
  background-color: #b400ffb8;
}
.bt-3 {
  background-color: #f7df1d;
}
h1 span:nth-child(1) {
  color: var(--color);
  font-weight: 700;
}
h1,
h3,
h5 {
  color: white;
}
.social-media {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: white;
}
.social-media i {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: white;
}
.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header {
  background-image: url("/images/imagen1.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  border: solid transparent 1px;
}
/* ABOUT */

.section {
  width: 100%;
  background-color: black;
  padding: 5rem 0;
}
.about-first {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.about h2 {
  color: var(--color);
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
b {
  background-image: url(http://ebaytemplate.com/thesoft/html/liam/assets/img/title-after.png);
  height: 2rem;
  width: 100%;
  content: "";
  max-width: 30rem;
  align-self: flex-end;
  position: absolute;
  margin-top: 10rem;
}
.description h3 {
  color: var(--color);
  font-size: 2.3rem;
  text-align: center;
}
.description {
  width: 100%;
  height: 50%;
  margin-top: 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
.description p {
  margin: 2rem;
  line-height: 1.5;
  font-size: 1.6rem;
  color: white;
}
.description h5 {
  font-size: 1.8rem;
  color: #313131;
  text-align: center;
}
/* BARRAS */
.bars {
  padding: 2rem;
  font-size: 3rem;
}
.m-bar {
  margin: 2rem 0;
}
.button {
  display: flex;
  justify-content: center;
}
.button a,
button {
  background-color: var(--color2);
  text-decoration: none;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3rem;
}
progress {
  width: 100%;
}
@media (min-width: 768px) {
  .bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .m-bar {
    margin: 1rem;
  }
}
/* WORKS AND EDUCATION */
.container-bar {
  font-size: 3rem;
  color: white;
}
@media (min-width: 768px) {
  .container-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.works {
  max-width: 90%;
  background-color: #080808;
  margin: 2rem;
  border-radius: 2rem;
  border: #080808 solid 1px;
}
.works h5 {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--color);
  font-weight: 100;
}
.works p {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
}
small {
  color: #fcfdfe;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: var(--color2);
  border-radius: 2rem;
}
.container-work {
  padding-left: 1.5rem;
  margin: 2rem;
}
.container-skill {
  position: relative;
}
.skill {
  padding: 1rem;
  position: absolute;
  top: -2;
  left: 0;
  font-size: 2rem;
}
.i-0 {
  background-color: #007bff;
}
.i-1 {
  background-color: #ff5e00;
}
.i-2 {
  background-color: #02bcea;
}
.i-3 {
  background-color: #8402ba;
}
.i-4 {
  background-color: #28a745;
}
.i-5 {
  background-color: #ec014d;
}
/* TESTIMONIALS */
.referencia {
  color: #313131;
  font-size: 2rem;
  text-align: center;
}
.testimonials {
  border-radius: 0%;
  border: solid black 1px;
}
.photo {
  border-radius: 5rem;
  border: 5px solid var(--color);
  max-width: 100%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  align-self: center;
  position: absolute;
  top: 0;
}
/* FOOTER */
.container-footer {
  width: 100%;
  background-color: black;
}
@media (min-width: 768px) {
  .display {
    display: flex;
    justify-content: space-between;
  }
}
.black p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.display div {
  padding: 1.5rem;
  align-self: center;
}
.social {
  padding: 1.5rem;
  border-radius: 27px;
  background: var(--color);
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: white;
}

/* FORMULARIO */
.formulario {
  font-size: 30px;
}
.texput {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.inputs {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
input {
  width: 30%;
  padding: 1rem;
  color: var(--color2);
  border: solid var(--color2) 1px;
  background-color: transparent;
}
input::placeholder {
  color: var(--color2);
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 17rem;
  max-height: 24rem;
  border: solid var(--color2) 1px;
  color: var(--color2);
  background-color: transparent;
}
textarea::placeholder {
  color: var(--color2);
}
legend {
  color: var(--color2);
}
fieldset {
  border: var(--color2) solid 1px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
form {
  background-image: url("/images/imagen3.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
form::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.relative {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  textarea {
    font-size: 2rem;
  }
  .formulario {
    font-size: 8rem;
  }
  fieldset {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
