* {
  font-size: 62.5%; /* reset para rems, 62.5% = 10px ya que 1rem es de 16px */
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: white;
}
.main {
  background-color: black;
}
img {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
}
h1 span:nth-child(1) {
  color: #007bff;
  font-weight: 700;
}
.head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0e0d0d8f;
}
.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: black;
  position: fixed;
  z-index: 2;
  width: 100%;
}
a {
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
a:hover {
  color: #007bff;
}
.nav-2 {
  align-self: center;
}
.name {
  color: #007bff;
  font-size: 3rem;
  font-weight: 700;
}
.container {
  width: 100%;
  padding: 2rem;
  max-width: 35%;
  margin-top: 25rem;
  margin-left: 10rem;
}
.skills {
  width: auto;
  font-size: 7rem;
}
.home {
  margin: 1rem;
}

.home h3 {
  font-size: 2rem;
  margin: 2rem 0;
  letter-spacing: 0.3em;
  font-weight: 100;
}
.home h1 {
  font-size: 5rem;
  margin: 2rem 0;
}
.bt-1,
.bt-2,
.bt-3 {
  padding: 2.5rem;
  margin: 0;
}
.bt-1 {
  background-color: #007bff;
}
.bt-2 {
  background-color: #b400ffb8;
}
.bt-3 {
  background-color: #f7df1d;
}
.social-media {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.social-media i {
  font-size: 1.5rem;
}
.section-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

/* ABOUT */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about h2 {
  color: #007bff;
  font-size: 4rem;
  font-weight: 700;
  height: 90px;
}
b {
  background-image: url(http://ebaytemplate.com/thesoft/html/liam/assets/img/title-after.png);
  height: 2rem;
  width: 100%;
  content: "";
  max-width: 30rem;
  align-self: flex-end;
  position: absolute;
  margin-top: 10rem;
}
.description h3 {
  color: #007bff;
  font-size: 2.3rem;
  text-align: center;
}
.dad-about {
  padding: 5rem;
}
.description {
  width: 100%;
  height: 50%;
  margin-top: 5rem;
  letter-spacing: 0.2rem;
}
.description p {
  margin: 2rem;
  line-height: 1.5;
  font-size: 1.6rem;
}
.description h5 {
  font-size: 1.8rem;
  color: #313131;
  text-align: center;
}
.container-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  font-size: 3rem;
}

/* BARRAS DE PROGRESO */
.m-bar {
  margin: 1rem;
}
.width {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
}
button {
  background-color: #28a745;
  text-decoration: none;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3rem;
}

/* work and education */
.works {
  max-width: 90%;
  background-color: #080808;
  margin: 2rem;
  border-radius: 2rem;
  border: #080808 solid 1px;
}
.works h5 {
  font-size: 2rem;
  margin: 2rem 0;
  color: #007bff;
  font-weight: 100;
}
.works p {
  font-size: 1.5rem;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
}
small {
  color: #fcfdfe;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background: #28a745;
  border-radius: 2rem;
}
.container-work {
  background-color: #080808;
  padding-left: 2.5rem;
  margin: 2rem;
}
.container-skill {
  position: relative;
}
.absolute {
  padding: 1rem;
  position: absolute;
  top: -2;
  left: 0;
  font-size: 2rem;
}
.i-0 {
  background-color: #007bff;
}
.i-1 {
  background-color: #ff5e00;
}
.i-2 {
  background-color: #02bcea;
}
.i-3 {
  background-color: #8402ba;
}
.i-4 {
  background-color: #28a745;
}
.i-5 {
  background-color: #ec014d;
}
/* TESTIMONIALS */
.referencia {
  color: #313131;
  font-size: 2rem;
  text-align: center;
}
.testimonials {
  border-radius: 0%;
  border: solid black 1px;
}
.photo {
  border-radius: 5rem;
  border: 5px solid #007bff;
  max-width: 100%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  align-self: center;
  position: absolute;
  top: 0;
}
Footer {
  border: black solid 1px;
}
.display {
  display: flex;
  justify-content: space-between;
}
.black {
  background: black;
}
.display div {
  padding: 2rem;
}
.social {
  padding: 1.5rem;
  border-radius: 27px;
  background: rgb(0 123 255);
  font-size: 1.5rem;
}

/* FORMULARIO */
.formulario {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  color: #007bff;
}
.container-form {
  margin-bottom: 4rem;
}
textarea {
  width: 100%;
  font-size: 2rem;
  border: 1px solid #28a745;
  background-color: transparent;
  padding: 2rem;
}
textarea::placeholder{
  color: #28a745;
}
input {
  border: 1px solid #28a745;
  background-color: transparent;
  padding: 0 2rem;
}
input::placeholder{
  color: #28a745;
}
fieldset{
  border: #28a745 solid 1px;
}
legend{
  color: #28a745;
}
form {
  background-image: url("/images/imagen3.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
form::after {
  content: "";
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-form {
  position: relative;
  z-index: 1;
}
.inputs {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.texput {
  margin: 1rem;
}
